.top {
  text-align: center;
  background: #7165e3;
  color: #fff;
  padding: 70px 0;
}

.top > h1 {
  padding: 10px 0;
}

.in {
  margin-top: 100px;
  margin-left: 35vw;
}

input {
  padding: 5px 10px;
  width: 180px;
  font-size: large;
}

button {
  background-color: #7165e3;
  border: none;
  width: 100px;
  height: 32px;
  cursor: pointer;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
